@use '../../../variables.scss' as v;

section {
  width: 100%;
  max-width: 584px;
  margin: 2rem auto;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid v.$border-color;
  border-radius: 24px;
  height: 44px;
  padding: 0 8px 0 14px;
  
  &:hover {
    box-shadow: 0 1px 6px 0 v.$hover-shadow;
    border-color: rgba(223, 225, 229, 0);
  }
  
  &:focus-within {
    box-shadow: 0 1px 6px 0 v.$hover-shadow;
    border-color: rgba(223, 225, 229, 0);
  }
}

// Search input
.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  padding: 0;
  margin: 0;
  height: 100%;
  
  &::placeholder {
    color: v.$icon-color;
  }
}

.search-icon {
  color: v.$icon-color;
  font-size: 20px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 600px) {
  section {
    max-width: calc(100% - 32px);
    margin: 1rem auto;
  }
}