// Colors
$primary-color: #68d391;
$primary-hover: #48bb78;

// Text
$text-dark: #2d3748;
$text-gray: #718096;
$text-light: #a0aec0;

// Background + Border colors
$border-color: #e2e8f0;
$background-light: #f7fafc;
$white: #ffffff;

// Subtle colors effects
$hover-shadow: rgba(32, 33, 36, 0.28);
$icon-color: #9aa0a6;
